@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    /* background-color: blue; */
    /* background-color: rgb(0, 164, 250); */
    color: grey;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  h2, h3 {
    display: inline;
  }
    
#logo-div {
    background-color: rgb(255, 255, 255);
    padding-left: 85%;
    padding-right: 0%;
    width: auto;
    height: 90px;
    
  }
  
#logo {
    width: 150px;
    top: 0px;
    left: 0px;
    margin-left: 5px;
  }
  

  #intro{
    width: 10%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(38, 202, 202);
}
#intro:hover{
    color: rgb(38, 202, 202);
}

#sign-div {

    background-color: rgb(255, 255, 255);
    padding-left: 45%;
    padding-right: 50%;
    width: 80px;
    height: 90px;
}


#sign_label {
    font-size: 250%;
    width: auto;
    margin-top: 20%;
    padding-left: 25%;
    padding-right: 50%;
    color: rgb(38, 202, 202);
    
}

#bar-div{
    font-size: 100%;
    float: left;
    margin-top: 4%;
    padding-left: 43%;
    padding-right: 50%;
}

#user-div{
    margin-bottom: 20%;
    padding-left: 1%;
    padding-right: 40;
    display: inline-flex;
}

#user_name{
    height: 25;
    width: 250;
    border: 2px solid rgb(38, 202, 202);
    background: rgb(255, 255, 255);
    transition: background 0.25s, box-shadow 0.25s;
}




#pass-div{
    padding-left: 1%;
    padding-right: 40;
    margin-bottom: 20%;
}

#password {
    height: 25;
    width: 250;
    border: 2px solid rgb(38, 202, 202);
    background: rgb(255, 255, 255);
    transition: background 0.25s, box-shadow 0.25s;
}
#signB-div{
    padding-top: 4%;
    padding-left: 47%;
    padding-right: 40;
}
#signB{
    width: 10%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(38, 202, 202);
}

#signB:hover{
    color: rgb(38, 202, 202);
}

#btl-div{
    padding-top: 4%;
    padding-left: 47%;
    padding-right: 40;;
}

#btlB{
    width: 10%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(38, 202, 202);
}

#btlB:hover{
    color: rgb(38, 202, 202);
}